.partners {
	background: url("../img/bg_partners.jpg") center center/cover no-repeat;
	padding: 100px 0px;
	margin: 0px 0px 180px 0px;
	&__title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		text-align: center;
		letter-spacing: 1.8px;
		margin: 0px 0px 93px 0px;
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__img {
		margin: 0px 55px;
	}
}

